{%- doc -%}
  Renders product badges for the product card.

  @param {object} product - The product object.
  @param {object} settings - The theme settings object.

  @example
  {% render 'product-card-badges', product: product, settings: settings %}
{%- enddoc -%}

<div
  class="product-badges product-badges--{{ settings.badge_position }}"
  style="
    --badge-border-radius: {{ badge_radius | default: settings.badge_corner_radius | default: settings.button_border_radius_primary }}px;
    --badge-font-family: var(--font-{{ settings.badge_font_family }}--family); --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight); --badge-text-transform: {{ settings.badge_text_transform }};
  "
>
  {%- assign badge_text = '' -%}
  {%- assign badge_color_scheme = '' -%}
  {%- assign badge_radius = '' -%}
  {%- assign has_new_tag = false -%}

  {%- for tag in product.tags -%}
    {%- assign normalized_tag = tag | strip | handle -%}
    {%- if normalized_tag == 'new' -%}
      {%- assign has_new_tag = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if product.available == false -%}
    {%- assign badge_text = 'content.product_badge_sold_out' | t -%}
    {%- assign badge_color_scheme = settings.badge_sold_out_color_scheme -%}
    {%- assign badge_radius = settings.badge_sold_out_corner_radius | default: settings.badge_corner_radius -%}
  {%- elsif product.compare_at_price > product.price and product.available -%}
    {%- assign badge_text = 'content.product_badge_sale' | t -%}
    {%- assign badge_color_scheme = settings.badge_sale_color_scheme -%}
    {%- assign badge_radius = settings.badge_sale_corner_radius | default: settings.badge_corner_radius -%}
  {%- elsif has_new_tag -%}
    {%- assign badge_text = 'content.product_badge_new' | t -%}
    {%- assign badge_color_scheme = settings.badge_new_color_scheme -%}
    {%- assign badge_radius = settings.badge_new_corner_radius | default: settings.badge_corner_radius -%}
  {%- endif -%}

  {%- if badge_text != blank -%}
    <div
      class="
        product-badges__badge product-badges__badge--rectangle
        {% if badge_color_scheme != blank %} color-{{ badge_color_scheme }}{% endif %}
      "
    >
      {{ badge_text }}
    </div>
  {%- endif -%}
</div>

{% stylesheet %}
  .product-badges {
    --badge-inset: max(var(--padding-xs), calc((var(--border-radius) + var(--padding-xs)) * (1 - cos(45deg))));

    position: absolute;
    z-index: var(--layer-flat);
  }

  .product-badges--bottom-left {
    bottom: calc(var(--badge-inset) + var(--padding-block-start));
    left: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges--top-left {
    top: calc(var(--badge-inset) + var(--padding-block-start));
    left: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges--top-right {
    top: calc(var(--badge-inset) + var(--padding-block-start));
    right: calc(var(--badge-inset) + var(--padding-inline-start));
  }


  .product-badges__badge {
    --badge-font-size: var(--font-size--xs);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-foreground);
    background: var(--color-background);
    font-size: var(--badge-font-size);
    font-family: var(--badge-font-family);
    font-weight: var(--badge-font-weight);
    text-transform: var(--badge-text-transform);
    border-radius: var(--badge-border-radius);
  }

  .product-badges__badge--rectangle {
    padding-block: var(--badge-rectangle-padding-block);
    padding-inline: var(--badge-rectangle-padding-inline);
  }
{% endstylesheet %}
