{% liquid
  assign show_read_more = show_read_more | default: false
  assign collapsed_height = collapsed_height | default: 160
  assign read_more_label = read_more_label | default: 'read_more' | t
  assign read_less_label = read_less_label | default: 'read_less' | t

  assign arrow_variants = '▾|▿|▴|▵|▼|▽|▲|△'
  assign arrow_array = arrow_variants | split: '|'
  for arrow in arrow_array
    assign read_more_label = read_more_label | replace: arrow, ''
    assign read_less_label = read_less_label | replace: arrow, ''
  endfor
  assign read_more_label = read_more_label | strip
  assign read_less_label = read_less_label | strip
  if read_more_label == blank
    assign read_more_label = 'READ MORE'
  endif
  if read_less_label == blank
    assign read_less_label = 'COLLAPSE'
  endif

  assign content_id = 'ToggleEllipsis-' | append: block.id
  if forloop and forloop.index
    assign content_id = content_id | append: '-' | append: forloop.index
  endif
%}

{% if show_read_more %}
  <div
    class="product-description-read-more"
    data-tabs-ellipsis-root
    data-collapsed-height="{{ collapsed_height }}"
    data-read-more-label="{{ read_more_label }}"
    data-read-less-label="{{ read_less_label }}"
  >
    <div
      class="product-description-read-more__content"
      id="{{ content_id }}"
      data-tabs-ellipsis-content
    >
      {{- content -}}
    </div>
    <div
      class="product-description-read-more__fade"
      data-tabs-ellipsis-fade
      aria-hidden="true"
    ></div>
    <button
      class="product-description-read-more__toggle"
      type="button"
      aria-expanded="false"
      aria-controls="{{ content_id }}"
      data-tabs-ellipsis-toggle
    >
      <span data-tabs-ellipsis-label>{{ read_more_label }}</span>
    </button>
  </div>
{% else %}
  {{ content }}
{% endif %}
