{{ 'bottom-menu.css' | asset_url | stylesheet_tag }}
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">

<style>
  :root {
    --bottom-menu-height: {{ section.settings.height }}px;
    --bottom-menu-bg: {{ section.settings.bg_color }};
    --bottom-menu-color: {{ section.settings.color }};
    --bottom-menu-icon-color: {{ section.settings.icon_color }};
    --bottom-menu-font-size: {{ section.settings.font_size }}px;
    --bottom-menu-icon-size: {{ section.settings.icon_size }}rem;
    {% if section.settings.hide-border %}
    --bottom-menu-border-color: transparent;
    {% endif %}
  }
</style>
<nav class="bottom-menu" role="navigation" aria-label="Bottom navigation menu">
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'block' -%}
        <div class="bottom-menu__item">
          <a href="{{ block.settings.url }}" class="bottom-menu__link">
            <span class="bottom-menu__icon svg-wrapper" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-link.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            <span class="visually-hidden">{{ block.settings.caption }}</span>
            {{ block.settings.caption }}
          </a>
        </div>
      {%- when 'home_block' -%}
        <div class="bottom-menu__item">
          <a href="/" class="bottom-menu__link">
            <span class="bottom-menu__icon" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-home-line.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            <span class="visually-hidden">{{ block.settings.caption }}</span>
            {{ block.settings.caption }}
          </a>
        </div>
      {%- when 'cart_block' -%}
        <div class="bottom-menu__item">
          <button type="button" class="bottom-menu__link bottom-menu__cart-icon{% unless cart == empty %} bottom-menu__cart-icon--has-cart{% endunless %}" onclick="openCartDrawer(); return false;" aria-label="Shopping Cart ({{ cart.item_count }} items)">
            <span class="bottom-menu__icon" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-cart.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            {% render 'cart-bubble', limit: 100 %}
            {{ block.settings.caption }}
          </button>
        </div>
      {%- when 'wishlist_block' -%}
        <div class="bottom-menu__item">
          <a href="/pages/wishlist" class="bottom-menu__link bottom-menu__wishlist-icon{% if wishlist.item_count > 0 %} bottom-menu__wishlist-icon--has-items{% endif %}">
            <span class="bottom-menu__icon svg-wrapper" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-heart-line.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            <div class="cart-bubble{% if wishlist.item_count == 0 or wishlist.item_count == blank %} visually-hidden{% endif %}" data-wishlist-bubble>
              <span class="cart-bubble__background"></span>
              <span class="cart-bubble__text">
                <span class="visually-hidden">Wishlist count: <span data-wishlist-count-text>0</span></span>
                <span class="cart-bubble__text-count" data-wishlist-count aria-hidden="true">0</span>
              </span>
            </div>
            <span class="visually-hidden">{{ block.settings.caption }}</span>
            {{ block.settings.caption }}
          </a>
        </div>
      {%- when 'Menu_block' -%}
        <div class="bottom-menu__item">
          <button type="button" class="bottom-menu__link" data-menu-drawer-trigger aria-label="Open navigation menu">
            <span class="bottom-menu__icon" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                <span class="svg-wrapper header-drawer-icon header-drawer-icon--open">
                  {{ 'icon-menu.svg' | inline_asset_content }}
                </span>
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            {{ block.settings.caption }}
          </button>
        </div>
      {%- when 'Account_block' -%}
        <div class="bottom-menu__item">
          <a href="/account" class="bottom-menu__link">
            <span class="bottom-menu__icon" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-account.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            <span class="visually-hidden">{{ block.settings.caption }}</span>
            {{ block.settings.caption }}
          </a>
        </div>
      {%- when 'Search_block' -%}
        <div class="bottom-menu__item">
          <a href="/search" class="bottom-menu__link">
            <span class="bottom-menu__icon" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-search.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            <span class="visually-hidden">{{ block.settings.caption }}</span>
            {{ block.settings.caption }}
          </a>
        </div>
      {%- when 'cat_block' -%}
        <div class="bottom-menu__item" data-type="collections">
          <button type="button" class="bottom-menu__link" aria-expanded="false" aria-controls="collections-popup" id="collections-trigger">
            <span class="bottom-menu__icon svg-wrapper" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-layout-grid-line.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            {{ block.settings.caption }}
          </button>
        </div>
        <div id="collections-popup" class="bottom-menu__popup" role="dialog" aria-labelledby="collections-trigger" data-popup="collections">
          <button type="button" class="bottom-menu__close" aria-label="Close collections menu">
            <span class="svg-wrapper">
              {{ 'icon-reset.svg' | inline_asset_content }}
            </span>
            Close
          </button>
          <div class="bottom-menu__collections">
            <ul class="bottom-menu__collection-grid" role="list">
              {% for link in linklists[block.settings.menu].links %}
                <li class="bottom-menu__collection-item">
                  <div class="bottom-menu__collection-image">
                    {% if link.object.featured_image %}
                      {% assign menu_image_url = link.object.featured_image | image_url: width: 100, height: 100 %}
                      <img src="{{ menu_image_url }}" alt="{{ link.title | escape }}" width="50" height="50" loading="lazy">
                    {% endif %}
                  </div>
                  <a href="{{ link.url }}" class="bottom-menu__collection-link">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {%- when 'extended_menu_block' -%}
        <div class="bottom-menu__item" data-type="extended">
          <button type="button" class="bottom-menu__link" aria-expanded="false" aria-controls="extended-popup" id="extended-trigger">
            <span class="bottom-menu__icon svg-wrapper" aria-hidden="true">
              {% if block.settings.icon_url == blank %}
                {{ 'icon-more-2-line.svg' | inline_asset_content }}
              {% else %}
                {{ block.settings.icon_url }}
              {% endif %}
            </span>
            {{ block.settings.caption }}
          </button>
        </div>
        <div id="extended-popup" class="bottom-menu__popup" role="dialog" aria-labelledby="extended-trigger" data-popup="extended">
          <button type="button" class="bottom-menu__close" aria-label="Close extended menu">
            <span class="svg-wrapper">
              {{ 'icon-reset.svg' | inline_asset_content }}
            </span>
            Close
          </button>
          <div class="bottom-menu__extended">
            {% if block.settings.show_search %}
            <div class="bottom-menu__extended-item">
              <a href="/search" class="bottom-menu__extended-link">
                <span class="bottom-menu__extended-icon" aria-hidden="true">
                  {{ 'icon-search.svg' | inline_asset_content }}
                </span>
                Search
              </a>
            </div>
            {% endif %}
            {% if block.settings.show_wishlist %}
            <div class="bottom-menu__extended-item">
              <a href="/pages/wishlist" class="bottom-menu__extended-link">
                <span class="bottom-menu__extended-icon svg-wrapper" aria-hidden="true">
                  {{ 'icon-heart-line.svg' | inline_asset_content }}
                </span>
                Wishlist
              </a>
            </div>
            {% endif %}
            {% if block.settings.show_whatsapp %}
            <div class="bottom-menu__extended-item">
              <a href="https://api.whatsapp.com/send?phone={{ block.settings.wa_number }}&text={{ block.settings.wa_message | url_encode }}" class="bottom-menu__extended-link" target="_blank" rel="noopener">
                <span class="bottom-menu__extended-icon" aria-hidden="true">
                  {{ 'icon-phone-line.svg' | inline_asset_content }}
                </span>
                WhatsApp
              </a>
            </div>
            {% endif %}
            {% if block.settings.show_track %}
            <div class="bottom-menu__extended-item">
              <a href="/pages/track-order" class="bottom-menu__extended-link">
                <span class="bottom-menu__extended-icon" aria-hidden="true">
                  {{ 'icon-truck-line.svg' | inline_asset_content }}
                </span>
                Track Order
              </a>
            </div>
            {% endif %}
            {% if block.settings.show_help %}
            <div class="bottom-menu__extended-item">
              <a href="/pages/help" class="bottom-menu__extended-link">
                <span class="bottom-menu__extended-icon" aria-hidden="true">
                  {{ 'icon-question-line.svg' | inline_asset_content }}
                </span>
                Help
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      {%- endcase -%}
  {% endfor %}
</nav>
{{ 'bottom-menu.js' | asset_url | script_tag }}

{% schema %}
{
    "name": "Bottom Nav Bar",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "color",
            "label": "Text color",
            "default": "#000"
        },
        {
        "type": "range",
        "id": "font_size",
        "min": 5,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "Font Size",
        "default": 10
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 1.5,
          "max": 5,
          "step": 0.1,
          "unit": "rem",
          "label": "Icon Size",
          "default": 2.2
        },
        {
        "type": "header",
        "content": "Spacing"
        },
        {
        "type": "range",
        "id": "height",
        "min": 50,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "height",
        "default": 70
        },
        {
            "type": "checkbox",
            "id": "hide-border",
            "label": "Hide Borders",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Custom Block",
            "limit": 5,
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                    "info": "Remix Icon : [Get Icon](https://remixicon.com/)"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Caption"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "home_block",
            "name": "Home",
            "limit": 1,
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                     "info": "Remix Icon : [Get Icon](https://remixicon.com/)"

                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Home"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "cart_block",
            "name": "Cart",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Cart"
                }
            ]
        },
        {
            "type": "wishlist_block",
            "name": "Wishlist",
            "limit": 1,
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                    "placeholder": "<i class=\"ri-heart-line\"></i>",
                    "info": "Remix Icon : [Get Icon](https://remixicon.com/)"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Wishlist"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "Menu_block",
            "name": "Drawer Menu Toggle",
            "limit": 1,
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                    "placeholder": "<i class=\"ri-bars-line\"></i>",
                    "info": "Remix Icon : [Get Icon](https://remixicon.com/)"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Menu"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "Account_block",
            "name": "Account",
            "limit": 1,
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                     "placeholder": "<i class=\"ri-account-line\"></i>",
                      "info": "Remix Icon : [Get Icon](https://remixicon.com/)"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Account"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "Search_block",
            "name": "Search",
            "limit": 1,
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                    "placeholder": "<i class=\"ri-search-line\"></i>",
                    "info": "Remix Icon : [Get Icon](https://remixicon.com/)"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Search"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
      {
            "type": "cat_block",
            "name": "Categories",
            "limit": 1,
            "settings": [
                {
                  "type": "link_list",
                  "id": "menu",
                  "default": "main-menu",
                  "label": "Custom Menu"
                },
                {
                    "type": "textarea",
                    "id": "icon_url",
                    "label": "Add Icon",
                    "placeholder": "<i class=\"ri-search-line\"></i>",
                    "info": "Remix Icon : [Get Icon](https://remixicon.com/)"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "Categories"
                },
            ]
        },
      {
            "type": "extended_menu_block",
            "name": "More",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "default": "More"
                },
                {
                    "type": "header",
                    "content": "Search"
                },
                {
                    "type": "checkbox",
                    "id": "show_search",
                    "label": "Search",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "search_url",
                    "label": "Search Link"
                },
                {
                    "type": "header",
                    "content": "Whatsapp"
                },
                {
                    "type": "checkbox",
                    "id": "show_whatsapp",
                    "label": "Whatsapp",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "wa_number",
                    "label": "Whatsapp Number with Country Code",
                     "info": "+911234567890"
                },
                {
                    "type": "text",
                    "id": "wa_message",
                    "label": "Whatsapp Text",
                    "default": "Hi There! I need some help",
                     "info": "Hi There! I need some help"
                },
                {
                    "type": "header",
                    "content": "Wishlist"
                },
                {
                    "type": "checkbox",
                    "id": "show_wishlist",
                    "label": "Wishlist",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "wishlist_url",
                    "label": "Wishlist Link"
                },
                {
                    "type": "header",
                    "content": "Track Order"
                },
                {
                    "type": "checkbox",
                    "id": "show_track",
                    "label": "Track Order",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "track_url",
                    "label": "Track Link"
                },
                {
                    "type": "header",
                    "content": "Help/Contact us"
                },
                {
                    "type": "checkbox",
                    "id": "show_help",
                    "label": "Help",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "help_url",
                    "label": "Help Link"
                }
            ]
        }
    ],
    "max_blocks": 5,
    "presets": [
        {
            "name": "Bottom Nav Bar",
            "blocks": [
              {
              "type": "home_block"
            },
            {
              "type": "cart_block"
            },
            {
              "type": "Search_block"
            },
            {
              "type": "Menu_block"
            },
            {
              "type": "Account_block"
            }
            ]
        }
    ]
}
{% endschema %}