{%- liquid
  assign layout = section.settings.layout
  assign text_alignment = section.settings.text_alignment
  assign content_blocks = ''
  assign timer_block = ''
-%}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section
  class="section section--{{ section.settings.section_width }} countdown-section countdown-section--mobile-{{ section.settings.text_alignment_mobile }} color-{{ section.settings.color_scheme }} spacing-style gap-style"
  style="
    {% render 'spacing-style', settings: section.settings %}
    {% render 'gap-style', value: section.settings.gap %}
    {% if section.settings.height_desktop != blank %}--countdown-height: {{ section.settings.height_desktop }};{% endif %}
    {% if section.settings.height_mobile != blank %}--countdown-height-mobile: {{ section.settings.height_mobile }};{% endif %}
  "
  data-section-id="{{ section.id }}"
>
  {%- if layout == 'centered' -%}
    <div class="countdown-section__inner countdown-section__inner--center text-{{ text_alignment }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%- if block.settings.heading != blank -%}
              {%- assign heading_tag = block.settings.heading_tag | default: 'h2' -%}
              <div class="countdown-section__block" {{ block.shopify_attributes }}>
                <{{ heading_tag }} class="countdown-section__heading">
                  {{ block.settings.heading }}
                </{{ heading_tag }}>
              </div>
            {%- endif -%}
          {%- when 'subheading' -%}
            {%- if block.settings.subheading != blank -%}
              <div class="countdown-section__block" {{ block.shopify_attributes }}>
                <p class="countdown-section__subheading">{{ block.settings.subheading }}</p>
              </div>
            {%- endif -%}
          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="countdown-section__block rte" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {%- endif -%}
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <div class="countdown-section__block countdown-section__button" {{ block.shopify_attributes }}>
                <a
                  {% if block.settings.button_link != blank %}
                    href="{{ block.settings.button_link }}"
                  {% else %}
                    role="link"
                    aria-disabled="true"
                  {% endif %}
                  class="{{ block.settings.button_style }}"
                  {%- if block.settings.open_in_new_tab -%}
                    target="_blank"
                    rel="noopener noreferrer"
                  {%- endif -%}
                >
                  {{ block.settings.button_label }}
                </a>
              </div>
            {%- endif -%}
          {%- when 'timer' -%}
            <div class="countdown-section__block countdown-section__timer-block" {{ block.shopify_attributes }}>
              {%- render 'countdown-timer',
                end_date: block.settings.end_date,
                end_time: block.settings.end_time,
                period: block.settings.period,
                digits_size: block.settings.digits_size,
                text_size: block.settings.text_size,
                end_message: block.settings.end_message,
                hide_on_complete: section.settings.hide_on_complete
              -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- else -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'timer' -%}
          {%- capture timer_block -%}
            <div class="countdown-section__block countdown-section__timer-block" {{ block.shopify_attributes }}>
              {%- render 'countdown-timer',
                end_date: block.settings.end_date,
                end_time: block.settings.end_time,
                period: block.settings.period,
                digits_size: block.settings.digits_size,
                text_size: block.settings.text_size,
                end_message: block.settings.end_message,
                hide_on_complete: section.settings.hide_on_complete
              -%}
            </div>
          {%- endcapture -%}
        {%- when 'heading' -%}
          {%- if block.settings.heading != blank -%}
            {%- assign heading_tag = block.settings.heading_tag | default: 'h2' -%}
            {%- capture content_blocks -%}
              {{ content_blocks }}
              <div class="countdown-section__block" {{ block.shopify_attributes }}>
                <{{ heading_tag }} class="countdown-section__heading">
                  {{ block.settings.heading }}
                </{{ heading_tag }}>
              </div>
            {%- endcapture -%}
          {%- endif -%}
        {%- when 'subheading' -%}
          {%- if block.settings.subheading != blank -%}
            {%- capture content_blocks -%}
              {{ content_blocks }}
              <div class="countdown-section__block" {{ block.shopify_attributes }}>
                <p class="countdown-section__subheading">{{ block.settings.subheading }}</p>
              </div>
            {%- endcapture -%}
          {%- endif -%}
        {%- when 'text' -%}
          {%- if block.settings.text != blank -%}
            {%- capture content_blocks -%}
              {{ content_blocks }}
              <div class="countdown-section__block rte" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {%- endcapture -%}
          {%- endif -%}
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            {%- capture content_blocks -%}
              {{ content_blocks }}
              <div class="countdown-section__block countdown-section__button" {{ block.shopify_attributes }}>
                <a
                  {% if block.settings.button_link != blank %}
                    href="{{ block.settings.button_link }}"
                  {% else %}
                    role="link"
                    aria-disabled="true"
                  {% endif %}
                  class="{{ block.settings.button_style }}"
                  {%- if block.settings.open_in_new_tab -%}
                    target="_blank"
                    rel="noopener noreferrer"
                  {%- endif -%}
                >
                  {{ block.settings.button_label }}
                </a>
              </div>
            {%- endcapture -%}
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}

    <div class="countdown-section__inner countdown-section__inner--split text-{{ text_alignment }}">
      <div class="countdown-section__content">
        {{ content_blocks }}
      </div>
      {%- if timer_block != blank -%}
        <div class="countdown-section__timer">
          {{ timer_block }}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</section>

{% stylesheet %}
  .countdown-section {
    min-height: var(--countdown-height);
  }

  @media screen and (max-width: 749px) {
    .countdown-section {
      min-height: var(--countdown-height-mobile, var(--countdown-height));
    }
  }

  .countdown-section--mobile-left {
    @media screen and (max-width: 749px) {
      .countdown-section__inner,
      .countdown-section__content,
      .countdown-section__timer {
        text-align: left;
        justify-items: start;
        align-items: start;
      }
    }
  }

  .countdown-section--mobile-center {
    @media screen and (max-width: 749px) {
      .countdown-section__inner,
      .countdown-section__content,
      .countdown-section__timer {
        text-align: center;
        justify-items: center;
        align-items: center;
      }
    }
  }

  .countdown-section--mobile-right {
    @media screen and (max-width: 749px) {
      .countdown-section__inner,
      .countdown-section__content,
      .countdown-section__timer {
        text-align: right;
        justify-items: end;
        align-items: end;
      }
    }
  }

  .countdown-section {
    position: relative;
  }

  .countdown-section__inner {
    display: grid;
    gap: var(--gap, 24px);
    width: 100%;
  }

  .countdown-section__inner--center {
    justify-items: stretch;
  }

  .countdown-section__inner--split {
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
  }

  .countdown-section__content,
  .countdown-section__timer {
    display: grid;
    gap: var(--gap, 24px);
  }

  .countdown-section__heading,
  .countdown-section__subheading {
    margin: 0;
  }

  .countdown-section__subheading {
    font-family: var(--font-subheading--family);
    font-style: var(--font-subheading--style);
    font-weight: var(--font-subheading--weight);
    text-transform: var(--font-subheading--case);
  }

  .countdown-section__button {
    display: flex;
  }

  .text-left .countdown-section__button {
    justify-content: flex-start;
  }

  .text-center .countdown-section__button {
    justify-content: center;
  }

  .text-right .countdown-section__button {
    justify-content: flex-end;
  }

  .text-left countdown-timer {
    --countdown-justify: flex-start;
  }

  .text-center countdown-timer {
    --countdown-justify: center;
  }

  .text-right countdown-timer {
    --countdown-justify: flex-end;
  }

  countdown-timer {
    display: grid;
    gap: var(--gap, 16px);
    --countdown-gap: var(--gap, 16px);
  }

  .countdown-timer__timer {
    display: block;
  }

  .countdown-timer__datetime {
    display: flex;
    flex-wrap: wrap;
    gap: var(--countdown-gap);
    justify-content: var(--countdown-justify, center);
  }

  .countdown-timer__segment {
    display: grid;
    gap: 4px;
    justify-items: center;
    min-width: 4ch;
  }

  .countdown-timer__digit {
    font-family: var(--font-heading--family);
    font-style: var(--font-heading--style);
    font-weight: var(--font-heading--weight);
    font-size: var(--countdown-digit-size);
    line-height: 1;
  }

  .countdown-timer__unit {
    font-family: var(--font-subheading--family);
    font-style: var(--font-subheading--style);
    font-weight: var(--font-subheading--weight);
    font-size: var(--countdown-unit-size);
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  .countdown-timer__message {
    display: none;
  }

  countdown-timer.show-message .countdown-timer__timer {
    display: none;
  }

  countdown-timer.show-message .countdown-timer__message {
    display: block;
  }

  @media screen and (max-width: 749px) {
    .countdown-section__inner--split {
      grid-template-columns: 1fr;
    }

    .countdown-section__timer {
      justify-items: center;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.countdown_timer",
  "tag": "section",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:countdown_timer.settings.section_width",
      "options": [
        {
          "value": "page-width",
          "label": "t:countdown_timer.options.section_width.page"
        },
        {
          "value": "full-width",
          "label": "t:countdown_timer.options.section_width.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:countdown_timer.settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:countdown_timer.settings.layout",
      "options": [
        {
          "value": "split",
          "label": "t:countdown_timer.options.layout.split"
        },
        {
          "value": "centered",
          "label": "t:countdown_timer.options.layout.centered"
        }
      ],
      "default": "split"
    },
    {
      "type": "checkbox",
      "id": "hide_on_complete",
      "label": "t:countdown_timer.settings.hide_on_complete",
      "default": true
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:countdown_timer.settings.gap",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:countdown_timer.settings.desktop_header"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:countdown_timer.settings.text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:countdown_timer.options.text_alignment.left"
        },
        {
          "value": "center",
          "label": "t:countdown_timer.options.text_alignment.center"
        },
        {
          "value": "right",
          "label": "t:countdown_timer.options.text_alignment.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "height_desktop",
      "label": "t:countdown_timer.settings.height_desktop",
      "options": [
        { "value": "450px", "label": "t:countdown_timer.options.height.px_450" },
        { "value": "400px", "label": "t:countdown_timer.options.height.px_400" },
        { "value": "350px", "label": "t:countdown_timer.options.height.px_350" },
        { "value": "300px", "label": "t:countdown_timer.options.height.px_300" },
        { "value": "250px", "label": "t:countdown_timer.options.height.px_250" },
        { "value": "200px", "label": "t:countdown_timer.options.height.px_200" },
        { "value": "150px", "label": "t:countdown_timer.options.height.px_150" }
      ],
      "default": "350px"
    },
    {
      "type": "header",
      "content": "t:countdown_timer.settings.mobile_header"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "t:countdown_timer.settings.text_alignment_mobile",
      "options": [
        {
          "value": "left",
          "label": "t:countdown_timer.options.text_alignment.left"
        },
        {
          "value": "center",
          "label": "t:countdown_timer.options.text_alignment.center"
        },
        {
          "value": "right",
          "label": "t:countdown_timer.options.text_alignment.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:countdown_timer.settings.height_mobile",
      "options": [
        { "value": "450px", "label": "t:countdown_timer.options.height.px_450" },
        { "value": "400px", "label": "t:countdown_timer.options.height.px_400" },
        { "value": "350px", "label": "t:countdown_timer.options.height.px_350" },
        { "value": "300px", "label": "t:countdown_timer.options.height.px_300" },
        { "value": "250px", "label": "t:countdown_timer.options.height.px_250" },
        { "value": "200px", "label": "t:countdown_timer.options.height.px_200" },
        { "value": "150px", "label": "t:countdown_timer.options.height.px_150" }
      ],
      "default": "300px"
    },
    {
      "type": "header",
      "content": "t:countdown_timer.settings.padding_header"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:countdown_timer.settings.padding_block_start",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:countdown_timer.settings.padding_block_end",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "timer",
      "name": "t:countdown_timer.blocks.timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "label": "t:countdown_timer.blocks.timer.settings.end_date",
          "placeholder": "2025-12-31",
          "default": "2025-12-31",
          "info": "Use format \"YYYY-MM-DD\". Expiration date is based on the store primary timezone."
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "t:countdown_timer.blocks.timer.settings.end_time",
          "default": "11:59",
          "placeholder": "11:59",
          "info": "Use 12-hour time convention in format \"HH:MM\""
        },
        {
          "type": "radio",
          "id": "period",
          "label": "t:countdown_timer.blocks.timer.settings.period",
          "options": [
            {
              "value": "am",
              "label": "t:countdown_timer.blocks.timer.options.period.am"
            },
            {
              "value": "pm",
              "label": "t:countdown_timer.blocks.timer.options.period.pm"
            }
          ],
          "default": "am"
        },
        {
          "type": "richtext",
          "id": "end_message",
          "label": "t:countdown_timer.blocks.timer.settings.end_message",
          "default": "<p>Offer has expired</p>"
        },
        {
          "type": "select",
          "id": "digits_size",
          "label": "t:countdown_timer.blocks.timer.settings.digits_size",
          "default": "var(--font-h2--size)",
          "options": [
            {
              "value": "var(--font-h4--size)",
              "label": "t:countdown_timer.blocks.timer.options.digits_size.small"
            },
            {
              "value": "var(--font-h3--size)",
              "label": "t:countdown_timer.blocks.timer.options.digits_size.medium"
            },
            {
              "value": "var(--font-h2--size)",
              "label": "t:countdown_timer.blocks.timer.options.digits_size.large"
            },
            {
              "value": "var(--font-h1--size)",
              "label": "t:countdown_timer.blocks.timer.options.digits_size.xlarge"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:countdown_timer.blocks.timer.settings.text_size",
          "default": "var(--font-size--xs)",
          "options": [
            {
              "value": "var(--font-size--2xs)",
              "label": "t:countdown_timer.blocks.timer.options.text_size.xs"
            },
            {
              "value": "var(--font-size--xs)",
              "label": "t:countdown_timer.blocks.timer.options.text_size.sm"
            },
            {
              "value": "var(--font-size--sm)",
              "label": "t:countdown_timer.blocks.timer.options.text_size.md"
            },
            {
              "value": "var(--font-size--md)",
              "label": "t:countdown_timer.blocks.timer.options.text_size.lg"
            }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:countdown_timer.blocks.subheading.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:countdown_timer.blocks.subheading.settings.subheading",
          "default": "Countdown is on"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:countdown_timer.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:countdown_timer.blocks.heading.settings.heading",
          "default": "Shop Before It Ends"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:countdown_timer.blocks.heading.settings.heading_tag",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:countdown_timer.options.heading_tags.h1"
            },
            {
              "value": "h2",
              "label": "t:countdown_timer.options.heading_tags.h2"
            },
            {
              "value": "h3",
              "label": "t:countdown_timer.options.heading_tags.h3"
            },
            {
              "value": "h4",
              "label": "t:countdown_timer.options.heading_tags.h4"
            },
            {
              "value": "h5",
              "label": "t:countdown_timer.options.heading_tags.h5"
            },
            {
              "value": "h6",
              "label": "t:countdown_timer.options.heading_tags.h6"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:countdown_timer.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:countdown_timer.blocks.text.settings.text",
          "default": "<p>Share information about your limited offer or temporary promotion.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:countdown_timer.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:countdown_timer.blocks.button.settings.button_label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:countdown_timer.blocks.button.settings.button_link"
        },
        {
          "type": "checkbox",
          "id": "open_in_new_tab",
          "label": "t:countdown_timer.blocks.button.settings.open_in_new_tab",
          "default": false
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:countdown_timer.blocks.button.settings.button_style",
          "default": "button",
          "options": [
            {
              "value": "button",
              "label": "t:countdown_timer.options.button_style.primary"
            },
            {
              "value": "button-secondary",
              "label": "t:countdown_timer.options.button_style.secondary"
            },
            {
              "value": "link",
              "label": "t:countdown_timer.options.button_style.text"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:countdown_timer.presets.name",
      "category": "t:categories.text",
      "blocks": [
        {
          "type": "timer"
        },
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
